@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-pri: #2e2e2e;
    --color-sec: #a1a1a1;
    --color-acc: #c6b81a;

    --font-header: 'Noto Sans', sans-serif;
    --font-paragraph: 'Source Sans Pro', sans-serif;

    --size-xl: 1.75rem;
    --size-l: 1.25rem;
    --size-m: 1rem;
    --size-s: .75rem;
    --size-p: 1rem;
}

body {
    color: var(--color-pri);
}

/* HEADER - NAVBAR */


.nav-bar {
    font-family: var(--font-header);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 4rem 18vw 2rem 18vw;
}

.nav-bar h3 {
    font-size: var(--size-l);
    font-style: italic;
    font-weight: 500;
    letter-spacing: -1px;
}


nav {
    display: flex;
    gap: 2vw;
}

#current {
    font-weight: 600;
    color: var(--color-pri);
}

.nav-bar a {
    font-size: var(--size-s);
    color: var(--color-sec);
    letter-spacing: 1px;
}

.nav-bar a:hover {
    color: var(--color-acc);
    letter-spacing: 1px;
    text-decoration: line-through;
}

a {
    text-decoration: none;
}


/* MAIN - INTRO */


.intro {
    font-family: var(--font-paragraph);
    text-align: center;
    padding: 6rem 22vw 4rem 22vw;
}

.intro h1 {
    font-size: var(--size-xl);
    font-weight: 300;
    letter-spacing: -.75px;
}

#accent {
    font-family: var(--font-header);
    font-style: italic;
    font-weight: 500;
    color: var(--color-acc);
}

#link a {
    color: var(--color-pri);
}

#link a:hover {
    color: #ED0000;
}


/* MAIN - PROJECTS */


.work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 4rem 18vw 6rem 18vw;
}

button {
    background: none;
	color: var(--color-sec);
	border: none;
	padding: 0;

    font-family: var(--font-header);
    font-size: var(--size-p);
    font-weight: 300;
}

button:hover {
    color: var(--color-acc);
    text-decoration: line-through;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.project-card img {
    width: 40vw;
    padding-top: 1.25rem;
}

.project-image {
    transition: 0.3s;
}

.project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;

    padding: 1rem 0rem 1rem 0rem;
}

.project-content .title {
    font-family: var(--font-header);
    font-size: var(--size-l);
    font-weight: 500;

    color: var(--color-pri);
}

.project-content .desc {
    font-family: var(--font-header);
    font-size: var(--size-p);
    font-weight: 300;

    color: var(--color-sec);
}

.project-card:hover > .project-content > * {
    color: var(--color-acc);
}

.project-card:hover > .project-image {
    transform: translateY(-10px);
}

/* FOOTER - CREDITS, LINKS */


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 4rem 18vw 4rem 18vw;

    font-family: var(--font-header);
    font-size: var(--size-s);
    font-weight: 400;
    color: var(--color-sec);
}

footer h4 {
    font-weight: 400;
    font-style: italic;
}

footer li {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

footer a {
    color: var(--color-sec);
    letter-spacing: 1px;
}

footer a:hover {
    color: var(--color-acc);
    letter-spacing: 1px;
    text-decoration: line-through;
}