/* DESIGN SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@1,600&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --h1-size: clamp(1.5rem, 2vw, 1.625rem);
    --h2-size: clamp(1.375rem, 2vw, 1.5rem);
    --h3-size: clamp(1.25rem, 2vw, 1.375rem);
    --h4-size: clamp(1rem, 2vw, 1.125rem);

    --p1-size: clamp(1rem, 2vw, 1.125rem);
    --p2-size: clamp(0.875rem, 2vw, 1rem);
    
    --nav-size: 0.875rem;
    --sub-size: clamp(0.75rem, 2vw, 0.875rem);
    --tag-size: clamp(0.75rem, 2vw, 0.875rem);


    --heading-bold: 700;
    --heading-reg: 400;

    --paragraph-semi: 600;
    --paragraph-reg: 400;

    --nav-link: 500;
    --sub-semi: 600;
    --tag-semi: 600;


    --black-pri: #333333;
    --dgrey-sub: #8A8A8A;
    --dgrey-button: #CCCCCC;
    --grey-active: #D9D9D9;
    --lgrey-container: #F5F5F5;

    --tags-red: #F92E17;
    --tags-pink: #FF7ABB;
    --tags-purple: #9A5CEA; 
    --tags-blue: #1947FF;
    --tags-yellow: #FCC825;
    --tags-green: #3E8F4E;
    --tags-orange: #f66e29;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

p1 {
    font-size: var(--p1-size);
    font-weight: var(--paragraph-reg);
}

p2 {
    font-size: var(--p2-size);
}

p3 {
    font-size: var(--tag-size);
}


/* START OF PAGE */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 160px;

    margin: auto;
    max-width: 1500px;
    padding: 5.5rem 150px 10rem 150px;
}


/* NAVIGATION */

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topnav img {
    max-height: 3.75em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    background-color: var(--lgrey-container);
    border-radius: 30px;
    padding: 8px;
}

nav a {
    border-radius: 20px;
    padding: 12px 16px;

    font-size: var(--nav-size);
    font-weight: var(--nav-link);
    text-decoration: none;
    color: var(--black-pri);
}

nav a:hover {
    color: var(--dgrey-button);
}

.active {
    background-color: var(--grey-active);
}


/* INTRO SECTION & PROJECTS */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 160px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    margin: auto;
    max-width: 830px;

    color: var(--black-pri);
}

.intro h2 {
    font-weight: var(--heading-reg);
}

.gif {
    display: inline-block;
    height: 60px;
    
    position: relative;
    top: 16px;
}

#link {
    text-decoration: none;
    color: var(--black-pri);
}

#link:after {
    content: 'Costco';
}

#link:hover:after {
    content: 'Costco→';
    color: #005DAA;
}

.project_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.6vw;

    border: solid 2px red;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: solid 2px orange;
    width: calc(50% - 0.8vw)
}

.project .image {
    border: solid 2px blue;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;

    background-color: var(--lgrey-container);
    border-radius: 30px;
}

.project .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    padding: 24px 0 8px 0;
}

.tags p3 {
    border-radius: 20px;
    padding: 6px 12px;
    
    font-weight: var(--tag-semi);
}

.tags .year {
    border: solid 2px var(--black-pri);
    color: var(--black-pri);
}

.tags .focus1 {
    border: solid 2px var(--tags-pink);
    color: var(--tags-pink);
}

.tags .focus2 {
    border: solid 2px var(--tags-purple);
    color: var(--tags-purple);
}

.tags .focus3 {
    border: solid 2px var(--tags-green);
    color: var(--tags-green);
}

.tags .exp1 {
    border: solid 2px var(--tags-blue);
    color: var(--tags-blue);
}

.tags .exp2 {
    border: solid 2px var(--tags-red);
    color: var(--tags-red);
}

.tags .exp3 {
    border: solid 2px var(--tags-yellow);
    color: var(--tags-yellow);
}

.project a {
    text-decoration: none;
    font-size: var(--h3-size);
    font-weight: var(--paragraph-semi);
    color: var(--black-pri);

    padding-bottom: 8px;
}