/* DESIGN SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800&family=Wix+Madefor+Text:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', sans-serif;

    scroll-behavior: smooth;
}

:root {
    --h1-size: clamp(1.5rem, 2vw, 1.625rem);
    --h2-size: clamp(1.375rem, 2vw, 1.5rem);
    --h3-size: clamp(1.25rem, 2vw, 1.375rem);
    --h4-size: clamp(1rem, 2vw, 1.125rem);

    --p1-size: clamp(1rem, 2vw, 1.125rem);
    --p2-size: clamp(0.875rem, 2vw, 1rem);
    
    --nav-size: 0.875rem;
    --sub-size: clamp(0.75rem, 2vw, 0.875rem);
    --tag-size: clamp(0.75rem, 2vw, 0.875rem);


    --heading-bold: 700;
    --heading-reg: 400;

    --paragraph-semi: 600;
    --paragraph-reg: 400;

    --nav-link: 500;
    --sub-semi: 600;
    --tag-semi: 600;


    --black-pri: #333333;
    --dgrey-sub: #8A8A8A;
    --dgrey-button: #CCCCCC;
    --grey-active: #D9D9D9;
    --lgrey-container: #F5F5F5;

    --tags-1: #f0807e;
    --tags-2: #b29cc8;
    --tags-3: #f6c053; 
    --tags-4: #f39b73;
    --tags-5: #d394a6;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

p1 {
    font-size: var(--p1-size);
}

p2 {
    font-size: var(--p2-size);
}

p3 {
    font-size: var(--tag-size);
}

p4 {
    font-size: var(--sub-size);
    font-weight: var(--sub-semi);
}

:hover, :after {
    transition: .3s ease;
}




/* START OF PAGE */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 160px;

    margin: auto;
    max-width: 1500px;
    padding: 5.5rem clamp(6rem, 50vw, 9rem) 0px clamp(6rem, 50vw, 9rem);
}




/* NAVIGATION */

.topnav, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topnav .logo {
    font-family: 'Epilogue', 'Inter', sans-serif;
    font-size: 2.7em;
    font-weight: 800;
    letter-spacing: -0.6px;
    text-decoration: none;

    animation: move 12s ease infinite;
	background-image: linear-gradient(-45deg, var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5), var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5));
    background-size: 400% 400%;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

nav {
    background-color: var(--lgrey-container);
    border-radius: 30px;
    padding: 8px;
    gap: 6px;
}

nav a {
    border-radius: 20px;
    padding: 12px 16px;

    text-decoration: none;
    font-size: var(--nav-size);
    font-weight: var(--nav-link);
    color: var(--black-pri);
}

nav a:hover {
    color: var(--dgrey-button);
}

.current {
    background-color: #FFFFFF;
}




/* INTRO SECTION */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 160px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    margin: auto;
    max-width: 790px;

    color: var(--black-pri);
}

.intro h2 {
    font-weight: var(--heading-reg);
}

.emphasis {
    font-family: 'Epilogue', 'Inter', sans-serif;
    font-size: clamp(2.2rem, 2vw, 2.4rem);
    font-weight: var(--heading-bold);
    font-style: italic;
}

#link {
    text-decoration: none;
    color: var(--black-pri);
}

#link:after {
    content: 'Costco';
}

#link:hover:after {
    content: 'Costco→';
    
    font-weight: 600;
    color: #005DAA;
}




/* PROJECTS */

.project_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.6vw;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: calc(50% - 0.8vw);
    transition: 0.3s ease-in-out;
}

.project:hover .link {
    animation: move 12s ease infinite;
	background-image: linear-gradient(-45deg, var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5), var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5));
    background-size: 400% 400%;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.active:hover {
    transform: translateY(-12px);
}

.project .image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;

    background-color: var(--lgrey-container);
    border-radius: 30px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
}

.project .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    padding: 24px 0 8px 0;
}

.tags p3 {
    font-weight: var(--tag-semi);

    border-radius: 20px;
    padding: 6px 12px;
}

.tags .year {
    border: solid 2px var(--black-pri);
    color: var(--black-pri);
}

.tags .focus1 {
    border: solid 2px var(--tags-1);
    color: var(--tags-1);
}

.tags .focus2 {
    border: solid 2px var(--tags-2);
    color: var(--tags-2);
}

.tags .focus3 {
    border: solid 2px var(--tags-4);
    color: var(--tags-4);
}

.tags .exp1 {
    border: solid 2px var(--tags-3);
    color: var(--tags-3);
}

.tags .exp2 {
    border: solid 2px var(--tags-5);
    color: var(--tags-5);
}

.project a {
    font-family: 'Epilogue', 'Inter', sans-serif;
    font-size: var(--h3-size);
    font-weight: var(--paragraph-semi);

    text-decoration: none;
    letter-spacing: -0.5px;
    color: var(--black-pri);

    padding-bottom: 2.2rem;
}

/* INACTIVE PROPERTIES */

#inactive_img {
    filter: grayscale(100%);
}

#inactive_title {
    color: var(--dgrey-button);
}

.tags .grey {
    border: solid 2px var(--dgrey-button);
    color: var(--dgrey-button);
}




/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

hr {
    color: var(--lgrey-container);
    border: solid 2px var(--lgrey-container);
}

.socials_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 0;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

footer a {
    font-size: var(--h2-size);
    font-weight: var(--heading-bold);
    text-decoration: none;
    color: var(--black-pri);
}

footer a:hover {
    animation: move 3s linear infinite;
	background-image: linear-gradient(to right, var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5));
    background-size: 200% auto;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}




/* MEDIA QUERIES */

@media screen and (min-width: 806px) and (max-width: 1150px) {
    body {
        padding: 5.5rem 12.5vw 0px 12.5vw;
    }

    .project_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.6vw;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        width: auto;
        transition: 0.3s ease-in-out;
    }
}

@media screen and (min-width: 645px) and (max-width: 805px) {
    body {
        padding: 3.5rem 1.7rem 0px 1.7rem;
        gap: 80px;
    }

    main {
        gap: 80px;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .project_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.6vw;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        width: auto;
        transition: 0.3s ease-in-out;
    }
}

@media screen and (max-width: 644px) {
    body {
        padding: 3.5rem 1.7rem 0px 1.7rem;
        gap: 80px;
    }

    main {
        gap: 80px;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .emphasis {
        font-size: 1.8rem;
    }

    .project_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.6vw;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        width: auto;
        transition: 0.3s ease-in-out;
    }

    .tags p3 {
        padding: 4px 8px;
        letter-spacing: -0.5px;
    }

    .socials_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    
        padding: 2rem 0;
    }

    .socials {
        gap: 8px;
    }
}