/*VARIABLES*/

@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

$font-style: 'Helvetica Neue', sans-serif;
$font-style-heading: "Montagu Slab", serif;

$h1-size: 64px;
$h2-size: 38px;
$p-size: 16px;

$line-height: 160%;
$line-height-h1: 140%;
$line-height-p: 180%;

$font-weight: 400;

$spacing-48: 48px;
$spacing-24: 24px;
$spacing-16: 16px;
$spacing-8: 8px;
$spacing-4: 4px;

$color-black: #0e0e0e;
$color-white: #FFFFFF;
$color-grey: #757575;

$color-green: #4c6f49;
$color-blue: #d2e5e9;




/* MIXINS */

@mixin flex($direction, $position, $layout, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $position;
    align-items: $layout;
    gap: $gap;
}




/*PAGE DEFAULT*/

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

    scroll-behavior: smooth;

    font-family: $font-style;
    line-height: $line-height;
}

body {
    @include flex(column, flex-start, flex-start, $spacing-48);

    background-color: $color-blue;
    color: $color-green;

    max-width: 1500px;
    padding: $spacing-24;
    margin: auto;
}

:hover {
    transition: 0.4s ease;
}




/*NAVIGATION*/

header {
    width: 100%;
}

.nav {
    @include flex(row, flex-start, center, $spacing-24);

    a {
        width: 100%;

        color: $color-green;
        text-decoration: none;

        transition:  0.4s ease;

        &:hover {
            transition: 0.4s ease;
            opacity: 50%;
        }
    }

    p {
        width: 100%;
    }

    .active {
        text-decoration: underline;
        text-underline-offset: 2px;

        transition: 0.4s ease;
    }
}




/* TITLE */

section {
    width: 100%;

    h1 {
        font-family: $font-style-heading;
        font-weight: $font-weight;
        font-size: $h1-size;

        line-height: $line-height-h1;
        letter-spacing: -2px;
    }
}




/* MAIN */

main {
    @include flex(column, flex-start, flex-start, $spacing-48);
    width: 100%;
}

.about {
    @include flex(row, flex-start, flex-start,$spacing-24);

    width: 100%;
}

.intro {
    @include flex(column, flex-start, flex-start, $spacing-24);

    width: 100%;

    &__text {
        line-height: $line-height-p;
    }
}

.content {
    @include flex(column, flex-start, flex-start, $spacing-8);
    width: 100%;
    
    &__image {
        width: 100%;
        height: auto;

        aspect-ratio: 16/9;
        object-fit: cover;
    }
}




/*FOOTER*/

footer {
    width: 100%;
}

.footer {
    @include flex(row, flex-start, center, $spacing-24);

    a {
        color: $color-green;
        text-decoration: none;
        
        transition: 0.4s ease;

        &:hover {
            transition: 0.4s ease;
            opacity: 50%;
        }
    }

    p {
        width: 100%;
    }
}




/* MEDIA QUERIES */

@media screen and (max-width: 1020px) {
    body {
        padding: $spacing-16;
    }

    .nav, .footer {
        justify-content: space-between;

        a, p {
            width: fit-content;
        }
    }

    section {
        h1 {
            font-size: $h2-size;
        }
    }

    .about {
        flex-direction: column;
    }

    .empty {
        display: none;
    }
}