/* DESIGN SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800&family=Wix+Madefor+Text:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', sans-serif;

    scroll-behavior: smooth;
}

:root {
    --h1-size: clamp(1.4rem, 2vw, 1.525rem);
    --h2-size: clamp(1.375rem, 2vw, 1.5rem);
    --h3-size: clamp(1.25rem, 2vw, 1.375rem);
    --h4-size: clamp(1rem, 2vw, 1.125rem);

    --p1-size: clamp(1.2rem, 2vw, 1.25rem);
    --p2-size: clamp(1rem, 2vw, 1.125rem);
    
    --nav-size: 0.875rem;
    --sub-size: clamp(0.8rem, 2vw, 0.875rem);
    --tag-size: clamp(0.75rem, 2vw, 0.875rem);


    --heading-bold: 700;
    --heading-reg: 400;

    --paragraph-semi: 600;
    --paragraph-reg: 400;

    --nav-link: 500;
    --sub-semi: 600;
    --tag-semi: 600;


    --black-pri: #333333;
    --dgrey-sub: #8A8A8A;
    --dgrey-button: #CCCCCC;
    --grey-active: #D9D9D9;
    --lgrey-container: #F5F5F5;

    --tags-1: #f0807e;
    --tags-2: #b29cc8;
    --tags-3: #f6c053; 
    --tags-4: #f39b73;
    --tags-5: #d394a6;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

p1 {
    font-size: var(--p1-size);
}

p2 {
    font-size: var(--p2-size);
}

li {
    font-size: var(--p2-size);
}

p3 {
    font-size: var(--tag-size);
}

p4 {
    font-size: var(--sub-size);
    font-weight: var(--sub-semi);
}

:hover, :after {
    transition: .3s ease;
}




/* START OF PAGE */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 120px;

    margin: auto;
    max-width: 1500px;
    padding: 5.5rem clamp(6rem, 50vw, 9rem) 0px clamp(6rem, 50vw, 9rem);

    color: var(--black-pri);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
}




/* NAVIGATION */

.topnav, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topnav .logo {
    font-family: 'Epilogue', 'Inter', sans-serif;
    font-size: 2.7em;
    font-weight: 800;
    letter-spacing: -0.6px;
    text-decoration: none;

    animation: move 12s ease infinite;
	background-image: linear-gradient(-45deg, var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5), var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5));
    background-size: 400% 400%;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

nav {
    background-color: var(--lgrey-container);
    border-radius: 30px;
    padding: 8px;
    gap: 6px;
}

nav a {
    border-radius: 20px;
    padding: 12px 16px;

    text-decoration: none;
    font-size: var(--nav-size);
    font-weight: var(--nav-link);
    color: var(--black-pri);
}

nav a:hover {
    color: var(--dgrey-button);
}

.current {
    background-color: #FFFFFF;
}




/* HERO SECTION */

.project_hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:32px;
}

.project_hero .image {
    width: 100%;
    height: auto;
    aspect-ratio: 3/1;

    background-color: var(--lgrey-container);
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.tags p3 {
    font-weight: var(--tag-semi);

    border-radius: 20px;
    padding: 6px 12px;
}

.tags .year {
    font-weight: 700;
    border: solid 2px var(--black-pri);
    color: var(--black-pri);
}

.tags .focus1 {
    border: solid 2px var(--tags-1);
    color: var(--tags-1);
}

.tags .focus2 {
    border: solid 2px var(--tags-2);
    color: var(--tags-2);
}

.tags .focus3 {
    border: solid 2px var(--tags-4);
    color: var(--tags-4);
}

.tags .exp1 {
    border: solid 2px var(--tags-3);
    color: var(--tags-3);
}

.tags .exp2 {
    border: solid 2px var(--tags-5);
    color: var(--tags-5);
}

.title_container h1 {
    font-family: 'Epilogue', 'Inter', sans-serif;
    font-weight: var(--heading-bold);
}




/* CONTENT SECTION - UNIVERSAL */

.section_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 180px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section h3 {
    font-family: 'Epilogue', 'Inter', sans-serif;
    letter-spacing: 0.3px;
    min-width: 150px;
    margin-right: 16px;
}

.section_content {
    display: flex;
    flex-direction: column;
    gap: 64px;

    width: 910px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content p4, .desc_container p4 {
    color: var(--dgrey-sub);
    letter-spacing: 0.4px;
    margin-bottom: 4px;
}

.content p1 {
    color: var(--black-pri);
    font-weight: var(--paragraph-semi);
    margin-bottom: 14px;
}

.emphasis {
    font-weight: var(--paragraph-semi);
}

ul {
    margin-top: 8px;
}

li {
    margin-left: 32px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.content_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
}

.bubble {
    background-color: var(--lgrey-container);
    border-radius: 20px;
    padding: 16px 24px;
}

.bubble a {
    color: var(--black-pri);
    font-weight: var(--paragraph-semi);
    font-style: italic;
    text-decoration: none;
}

.bubble a:hover {
    color: #ed0000;
}

.content_image .image_format_1 {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;

    background-color: var(--lgrey-container);
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}




/* CONTENT SECTION - SPECIFIC */

.image_format_1 img {
    width: 100%;
    height: auto;

    object-fit: cover;
}

#gif .image_format_1 img {
    width: 25.5%;
    height: auto;
    border-radius: 2.3vw;
}

.format_2 .content_image {
    margin-top: -36px;
}

#wide {
    width: auto;
}

.retrospective a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--lgrey-container);
    border-radius: 20px;
    padding: 16px 24px;

    text-decoration: none;
}

.desc_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desc_container p1 {
    color: var(--black-pri);
    font-weight: var(--paragraph-semi);
    margin-top: -2px;
}

.icon_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: var(--dgrey-button);
}

.retrospective a:hover .icon_container {
    animation: move 12s ease infinite;
	background-image: linear-gradient(-45deg, var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5), var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5));
    background-size: 400% 400%;
}




/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

hr {
    color: var(--lgrey-container);
    border: solid 2px var(--lgrey-container);
}

.socials_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 0;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

footer a {
    font-size: var(--h2-size);
    font-weight: var(--heading-bold);
    text-decoration: none;
    color: var(--black-pri);
}

footer a:hover {
    animation: move 12s ease infinite;
	background-image: linear-gradient(-45deg, var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5), var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5));
    background-size: 200% auto;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}




/* MEDIA QUERIES */

@media screen and (min-width: 966px) and (max-width: 1150px) {
    body {
        padding: 5.5rem 12.5vw 0px 12.5vw;
    }
}

@media screen and (min-width: 806px) and (max-width: 965px) {
    body {
        padding: 5.5rem 12.5vw 0px 12.5vw;
        gap: 80px;
    }

    main {
        gap: 80px;
    }

    .project_hero .image {
        aspect-ratio: 2.5/1;
        object-fit: cover;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image img {
        object-fit: cover;
    }

    #gif .image_format_1 img {
        border-radius: 3.4vw;
    }

    .section_container {
        gap: 104px;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    section h3 {
        margin-bottom: 24px;
    }

    .section_content {
        gap: 56px;
        width: auto;
    }
}

@media screen and (max-width: 805px) {
    body {
        padding: 3.5rem 1.7rem 0px 1.7rem;
        gap: 80px;
    }

    main {
        gap: 80px;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .project_hero .image {
        aspect-ratio: 2/1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image img {
        object-fit: cover;
    }

    #gif .image_format_1 img {
        border-radius: 3.4vw;
    }

    .section_container {
        gap: 104px;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    section h3 {
        margin-bottom: 24px;
    }

    .section_content {
        gap: 48px;
        width: auto;
    }

    .tags p3 {
        padding: 4px 8px;
        letter-spacing: -0.5px;
    }

    .bubble {
        padding: 10px 14px; 
    }

    .retrospective a {
        padding: 10px 14px;
    }

    .desc_container p1 {
        margin-top: -6px;
    }

    .socials_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    
        padding: 2rem 0;
    }

    .socials {
        gap: 8px;
    }
}
