/*VARIABLES*/
/* MIXINS */
/*PAGE DEFAULT*/
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 160%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 48px;
  background-color: #FFFFFF;
  color: #121212;
  max-width: 1500px;
  padding: 24px;
  margin: auto;
}

:hover {
  transition: 0.4s ease;
}

/*NAVIGATION*/
header {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.nav a {
  color: #121212;
  text-decoration: none;
}
.nav__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
}
.nav__title a {
  font-weight: 500;
  transition: 0.4s ease;
}
.nav__title a:hover {
  transform: translateY(-2px);
  transition: 0.4s ease;
  opacity: 50%;
}
.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  width: 100%;
}
.nav__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  transition: 0.4s ease;
}
.nav__link--active {
  font-weight: 500;
  transition: 0.4s ease;
}
.nav__link--inactive {
  color: #FFFFFF;
  transition: 0.4s ease;
}
.nav__link:hover {
  transform: translateY(-2px);
  transition: 0.4s ease;
  opacity: 50%;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}

.work {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
.work a {
  text-decoration: none;
  color: #121212;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  transition: 0.4s ease;
}
.project__image {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
}
.project__heading {
  font-weight: 500;
  transition: 0.4s ease;
}
.project__tags {
  color: #737373;
  transition: 0.4s ease;
}
.project:hover {
  transform: translateY(-6px);
  transition: 0.4s ease;
}
.project:hover .project__heading, .project:hover .project__tags {
  opacity: 50%;
}

/*FOOTER*/
footer {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.footer a {
  color: #121212;
  text-decoration: none;
  transition: 0.4s ease;
}
.footer a:hover {
  transition: 0.4s ease;
  opacity: 50%;
}
.footer p {
  width: 100%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1020px) {
  body {
    padding: 16px;
  }
  .nav__title p {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
  }
  .work {
    flex-direction: column;
  }
  .footer {
    justify-content: space-between;
  }
  .footer p {
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */