/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Overpass+Mono:wght@300..700&display=swap");
/* MIXINS */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* PAGE DEFAULT */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  background-color: #FFFEFC;
  color: #101010;
  max-width: 1600px;
  padding: 60px;
  margin: auto;
  font-family: "Overpass Mono", monospace;
  line-height: 130%;
}

:hover {
  transition: 0.4s ease;
}

/* NAV */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
  position: sticky;
  top: 60px;
  height: calc(100vh - 120px);
  min-width: 34ch;
  font-size: 14px;
  text-transform: uppercase;
}
header h4 {
  font-weight: 400;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.nav strong {
  font-weight: 600;
}
.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}
.nav__link {
  font-weight: 400;
  text-decoration: none;
  transition: 0.4s ease;
  color: #101010;
}
.nav__link--active {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.nav__link:hover {
  font-weight: 600;
  color: #482acc;
  transform: translateY(-2px);
}

.credits h4 {
  color: #999796;
  font-weight: 300;
}
.credits a {
  color: #999796;
  text-decoration: none;
  transition: 0.4s ease;
}
.credits a:hover {
  color: #482acc;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding-bottom: 4px;
}
main h4 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
main p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
main a {
  text-decoration: none;
}
main .credits {
  display: none;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.work .project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  transition: 0.4s ease;
}
.work .project__image {
  width: 100%;
  height: auto;
}
.work .project h4, .work .project p {
  color: #101010;
}
.work .project:hover {
  transform: translateY(-8px);
  transition: 0.4s ease;
}
.work .project:hover h4, .work .project:hover p {
  color: #482acc;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1100px) {
  body {
    flex-direction: column;
    gap: 40px;
  }
  header {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
  }
  header .intro, header .credits {
    display: none;
  }
  header .nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  header .nav__list {
    flex-direction: row;
    gap: 16px;
  }
  main {
    padding-bottom: 0px;
  }
  main .credits {
    display: block;
    padding-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding: 16px;
  }
  main .credits {
    display: block;
    padding-top: 24px;
  }
  .gallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }
}/*# sourceMappingURL=style.css.map */