/* DESIGN SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800&family=Wix+Madefor+Text:wght@400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Wix Madefor Text', sans-serif;

    scroll-behavior: smooth;
}

:root {
    --h1-size: clamp(1.4rem, 2vw, 1.525rem);
    --h2-size: clamp(1.375rem, 2vw, 1.5rem);
    --h3-size: clamp(1.25rem, 2vw, 1.375rem);
    --h4-size: clamp(1rem, 2vw, 1.125rem);

    --p1-size: clamp(1.2rem, 2vw, 1.25rem);
    --p2-size: clamp(1rem, 2vw, 1.125rem);
    
    --nav-size: 0.875rem;
    --sub-size: clamp(0.8rem, 2vw, 0.875rem);
    --tag-size: clamp(0.75rem, 2vw, 0.875rem);


    --heading-bold: 700;
    --heading-reg: 400;

    --paragraph-semi: 600;
    --paragraph-reg: 400;

    --nav-link: 500;
    --sub-semi: 600;
    --tag-semi: 600;


    --black-pri: #333333;
    --dgrey-sub: #8A8A8A;
    --dgrey-button: #CCCCCC;
    --grey-active: #D9D9D9;
    --lgrey-container: #F5F5F5;

    --tags-1: #f0807e;
    --tags-2: #b29cc8;
    --tags-3: #f6c053; 
    --tags-4: #f39b73;
    --tags-5: #d394a6;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

p1 {
    font-size: var(--p1-size);
}

p2 {
    font-size: var(--p2-size);
}

li {
    font-size: var(--p2-size);
}

p3 {
    font-size: var(--tag-size);
}

p4 {
    font-size: var(--sub-size);
    font-weight: var(--sub-semi);
}

:hover, :after {
    transition: .3s ease;
}




/* START OF PAGE */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 120px;

    margin: auto;
    max-width: 1500px;
    padding: 5.5rem clamp(6rem, 50vw, 9rem) 0px clamp(6rem, 50vw, 9rem);

    color: var(--black-pri);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
}




/* NAVIGATION */

.topnav, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topnav .logo {
    font-family: 'Epilogue', 'Inter', sans-serif;
    font-size: 2.7em;
    font-weight: 800;
    letter-spacing: -0.6px;
    text-decoration: none;

    animation: move 12s ease infinite;
	background-image: linear-gradient(-45deg, var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5), var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5));
    background-size: 400% 400%;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@keyframes move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

nav {
    background-color: var(--lgrey-container);
    border-radius: 30px;
    padding: 8px;
    gap: 6px;
}

nav a {
    border-radius: 20px;
    padding: 12px 16px;

    text-decoration: none;
    font-size: var(--nav-size);
    font-weight: var(--nav-link);
    color: var(--black-pri);
}

nav a:hover {
    color: var(--dgrey-button);
}

.current {
    background-color: #FFFFFF;
}




/* ABOUT SECTION(s) */

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 104px;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.pfp_container {
    border-radius: 35px;
    width: 140vw;
    height: auto;

    aspect-ratio: 16/9;
    overflow: hidden;
    object-fit: cover;

    display: flex;
    justify-content: center;
}

.pfp_container img {
    width: auto;
    height: 100%;
}

.about_content_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.bubble {
    background-color: var(--lgrey-container);
    border-radius: 20px;
    padding: 16px 24px;

    margin-bottom: 24px;
}

.bubble a {
    color: var(--black-pri);
    font-weight: var(--paragraph-semi);
    font-style: italic;
    text-decoration: none;
}

.bubble a:hover {
    animation: move 12s ease infinite;
	background-image: linear-gradient(-45deg, var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5), var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5));
    background-size: 400% 400%;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Epilogue', 'Inter', sans-serif;
    letter-spacing: 0.3px;
    min-width: 320px;
}

#about_2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}

li {
    margin-bottom: 12px;
}

.emphasis {
    font-weight: var(--paragraph-semi);
}



/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

hr {
    color: var(--lgrey-container);
    border: solid 2px var(--lgrey-container);
}

.socials_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 3rem 0;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

footer a {
    font-size: var(--h2-size);
    font-weight: var(--heading-bold);
    text-decoration: none;
    color: var(--black-pri);
}

footer a:hover {
    animation: move 12s ease infinite;
	background-image: linear-gradient(-45deg, var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5), var(--tags-1), var(--tags-2), var(--tags-3), var(--tags-4), var(--tags-5));
    background-size: 200% auto;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}




/* MEDIA QUERIES */

@media screen and (min-width: 1275px) and (max-width: 1280px) {
    body {
        padding: 5.5rem 12.5vw 0px 12.5vw;
    }
}

@media screen and (min-width: 1045px) and (max-width: 1274px) {
    body {
        padding: 3.5rem 1.7rem 0px 1.7rem;
        gap: 80px;
        background-color: salmon;
    }

    main {
        gap: 80px;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }
}

@media screen and (max-width: 1044px) {
    body {
        padding: 3.5rem 1.7rem 0px 1.7rem;
        gap: 80px;
    }

    main {
        gap: 80px;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .socials_container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    
        padding: 2rem 0;
    }

    .socials {
        gap: 8px;
    }
}