/* VARIABLES */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Overpass+Mono:wght@300..700&display=swap');

$font-style-mono: "Overpass Mono", monospace;
$heading-style-sans-serif:  "Inter", sans-serif;

$h1-size: 24px;
$h2-size: 22px;
$h4-size: 14px;

$p-size: 16px;
$nav-size: 14px;

$line-height-m: 130%;
$line-height-l: 170%;

$space-4: 4px;
$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-40: 40px;
$space-80: 80px;

$color-white: #FFFEFC;
$color-container: #99979605;
$color-grey: #999796;
$color-black: #101010;
$color-color: #482acc;




/* MIXINS */

@mixin flex($direction, $position, $layout, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $position;
    align-items: $layout;
    gap: $gap;
}

@mixin fadeInAnimation {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
     }
}




/* PAGE DEFAULT */

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

    background-color: $color-white;
    color: $color-black;

    scroll-behavior: smooth;
    @include fadeInAnimation();
}

body {
    @include flex(row, flex-start, flex-start, $space-80);

    max-width: 1600px;
    padding: 60px;
    margin: auto;

    font-family: $font-style-mono;
    line-height: $line-height-m;
}

:hover {
    transition: 0.4s ease;
}




/* NAV */

header {
    @include flex(column, space-between, flex-start, $space-80);

    position: sticky;
    top: 60px;

    height: calc(100vh - 120px);
    min-width: 34ch;

    font-size: $nav-size;

    text-transform: uppercase;

    h4 {
        font-weight: 400;
    }
}

.nav {
    @include flex(column, flex-start, flex-start, $space-24);

    strong {
        font-weight: 600;
    }

    &__list {
        @include flex(column, flex-start, flex-start, $space-8);
    }

    &__link {
        font-weight: 400;
        text-decoration: none;
        transition: 0.4s ease;

        &--active {
            font-weight: 600;
            text-decoration: underline;
            text-underline-offset: 4px;
        }

        &:hover {
            font-weight: 600;
            color: $color-color;
            transform: translateY(-2px);
        }
    }
}

.credits {
    h4 {
        color: $color-grey;
    }

    a {
        color: $color-grey;
        text-decoration: none;
        transition: 0.4s ease;

        &:hover {
            color: $color-color;
        }
    }
}




/* MAIN */

main {
    @include flex(column, flex-start, flex-start, $space-24);
    padding-bottom: 6px;

    h4 {
        font-size: $h4-size;
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        font-family: $heading-style-sans-serif;
        font-size: $p-size;
        font-weight: 400;
    }

    a {
        text-decoration: none;
    }
}

.work {
    @include flex(column, flex-start, flex-start, $space-24);

    .project {
        @include flex(column, flex-start, flex-start, $space-16);
        transition: 0.4s ease;

        &__image {
            width: 100%;
            height: auto;

            aspect-ratio: 16/9;
            object-fit: cover;
        }

        &:hover {
            transform: translateY(-8px);
            transition: 0.4s ease;

            h4, p {
                color: $color-color;
            }
        }
    }
}




/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
    body {
        flex-direction: column;
        gap: $space-40;
    }

    header {
        position: relative;
        top: 0;

        width: 100%;
        height: auto;

        .intro, .credits {
            display: none;
        }

        .nav {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;

            &__list {
                flex-direction: row;
                gap: $space-16;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        padding: $space-16;
    }
}