/* VARIABLES */

@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');


$heading-style-serif: 'Hedvig Letters Serif', serif;
$heading-style-sans-serif: 'Helvetica Neue', sans-serif;
$text-style: 'Helvetica Neue', sans-serif;

$heading-size-1: 2.5rem;
$heading-size-2: 2.25rem;
$heading-size-3: 2rem;
$heading-size-4: 1.5rem;
$heading-size-5: 0.875rem;

$text-style-large: 1.125rem;
$text-style-medium: 1rem;
$text-style-small: 0.875rem;

$line-height-heading: 128%;
$line-height-text: 138%;


$space-small-8: 0.5rem;
$space-small-16: 1rem;
$space-small-24: 1.5rem;
$space-small-40: 2.5rem;

$space-medium-48: 3rem;
$space-medium-56: 3.5rem;
$space-medium-64: 4rem;
$space-medium-72: 4.5rem;

$space-large-80: 5rem;
$space-large-96: 6rem;
$space-large-112: 7rem;
$space-large-128: 8rem;

$space-xlarge-216: 13.5rem;
$space-xlarge-232: 14.5rem;
$space-xlarge-248: 15.5rem;
$space-xlarge-280: 17.5rem;


$color-white: #FCFCFC;
$color-container: #AAAAAA16;
$color-grey: #555555;
$color-black: #101010;




/* MIXINS */

@mixin flex($direction, $position, $layout, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $position;
    align-items: $layout;
    gap: $gap;
}

@mixin heading($size, $weight) {
    font-family: $heading-style-serif;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height-heading;
    letter-spacing: 0.2px;

    color: $color-black;
}

@mixin fadeInAnimation {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
     }
}

@mixin transformUpAnimation {
    animation: transformUpAnimation ease 2.4s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes transformUpAnimation {
    0% {
        transform: translateY(48px);
    }
    40% {
        transform: translateY(48px);
    }
    100% {
        transform: translateY(0px);
    }
}



/* PAGE SETTINGS */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: $line-height-text;

    background-color: $color-white;
    color: $color-grey;

    scroll-behavior: smooth;
}

body {
    @include fadeInAnimation();
    margin: auto;
    max-width: 1440px;
    padding: 0 10rem;
}

:hover, :after {
    transition: 0.75s ease;
}




/* NAV */

.nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3rem;
    background-color: transparent;

    z-index: 100;

    &__list {
        @include flex(row, space-between, center, $space-small-16);
        padding: 18px 32px;
        border-radius: 50px;
        border: solid 1px $color-container;
        background-color: $color-container;
        backdrop-filter: blur(32px);
    }

    &__link {
        text-decoration: none;
        background-color: transparent;
        letter-spacing: 0.2px;
        color: $color-grey;

        transition: 0.5s ease;

        &--active {
            color: $color-black;
            text-decoration: underline;
            text-underline-offset: 4px;
        }

        &:hover {
            color: $color-black;
            transform: translateY(-1px);
        }
    }
}




/* INTRO */

.intro {
    @include flex(column, flex-start, flex-start, $space-small-16);
    height: 100vh;
    padding-top: $space-large-128;

    &__logo {
        @include transformUpAnimation();
        height: 2rem;
        width: auto;
    }

    &__desc {
        @include heading($heading-size-1, 400);
        @include transformUpAnimation();
    }
}




/* MAIN CONTENT */

.container {
    @include flex(column, flex-start, center, $space-xlarge-232);
    padding-bottom: $space-xlarge-232;
}

section {
    width: 100%;
}



/* WORK */

.work {
    @include flex(column, flex-start, center, $space-large-112);
    padding-top: $space-medium-48;
}

.project {
    @include flex(column, flex-start, flex-start, $space-medium-56);
    text-decoration: none;
    transition: 0.5s ease;

    &:hover {
        transform: translateY(-4px);
        opacity: 0.8;
    }

    &__content {
        @include flex(column, flex-start, flex-start, $space-small-16);
        width: 60%;
    }

    &__heading {
        @include heading($heading-size-3, 400);
    }

    &__desc {
        font-size: $text-style-large;
    }

    &__image {
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}



/* SERVICES */

ul {
    margin-left: 0.4rem;
}

.services {
    @include flex(column, flex-start, flex-start, $space-medium-56);
    padding-top: $space-medium-48;

    &__desc {
        @include flex(row, flex-start, flex-start, $space-medium-56);
    }

    &__list {
        @include flex(row, flex-start, flex-start, $space-medium-56);
    };

    &__heading, &__skills, &__item {
        @include heading($heading-size-3, 400);
    }

    &__desc, &__bullets, &__list {
        width: 100%;
    }
}



/* ABOUT */

.about {
    @include flex(column, flex-start, flex-start, $space-medium-56);
    padding-top: $space-medium-48;

    &__content, &__snippet {
        @include flex(column, flex-start, flex-start, $space-small-16);
    }

    &__heading {
        @include heading($heading-size-3, 400);
    }

    &__desc {
        font-size: $text-style-large;
    }

    &__gallery {
        @include flex(row, flex-start, flex-start, $space-small-16);
    }

    &__image {
        width: calc(33% - 0.44rem);
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}




/* CONTACT */

.contact {
    @include flex(column, flex-start, flex-start, $space-medium-56);
    padding-top: $space-medium-48;

    &__heading {
        @include heading($heading-size-1, 400);
    }

    &__links {
        @include flex(row, flex-start, flex-start, $space-small-16);
    }

    &__button {
        font-size: $text-style-large;
        text-decoration: none;
        padding: 18px 32px;
        transition: 0.5s ease;

        &--email {
            background-color: $color-black;
            color: $color-white;
            border-radius: 50px;
            border: solid 1px $color-black;
        }

        &--copy {
            background-color: $color-white;
            color: $color-black;
            border-radius: 50px;
            border: solid 1px $color-black;
        }

        &:hover {
            transform: translateY(-4px);
        }
    }
}




/* FOOTER */

.footer {
    @include flex(row, space-between, center, none);
    padding-top: $space-medium-48;
    padding-bottom: $space-medium-56;

    a {
        text-decoration: underline;
        text-underline-offset: 4px;
        background-color: transparent;
        letter-spacing: 0.2px;
        color: $color-grey;

        transition: 0.5s ease;

        &:hover {
            color: $color-black;
        }
    }
}




/* MEDIA QUERIES */

@media screen and (min-width: 1090px) and (max-width: 1260px) {
    .project {
        &__content {
            width: 70%;
        }
    }
    
    .services {
        &__desc {
            @include flex(column, flex-start, flex-start, $space-small-16);
        }

        &__list {
            padding-left: 1.25rem;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1089px) {
    body {
        background-color: salmon;
        padding: 0 4rem;
    }

    .intro {
        &__desc {
            @include heading($heading-size-2, 400);
        }
    }

    .project {
        @include flex(column, flex-start, flex-start, $space-small-40);

        &__heading {
            @include heading($heading-size-3, 400);
        }
    }
}