/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");
/* MIXINS */
/* PAGE SETTINGS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 138%;
  background-color: #FCFCFC;
  color: #555555;
}

body {
  margin: auto;
  max-width: 1440px;
  padding: 0 10rem;
}

:hover, :after {
  transition: 0.75s ease;
}

/* NAV */
.nav {
  position: fixed;
  left: calc(50% - 10rem);
  bottom: 3rem;
  background-color: transparent;
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 20px 32px;
  border-radius: 50px;
  border: solid 1px rgba(170, 170, 170, 0.0862745098);
  background-color: rgba(170, 170, 170, 0.0862745098);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
}
.nav__link {
  text-decoration: none;
  background-color: transparent;
  letter-spacing: 0.2px;
  color: #555555;
  transition: 0.5s ease;
}
.nav__link--active {
  color: #101010;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.nav__link:hover {
  color: #101010;
}

/* INTRO */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  height: 100vh;
  padding-top: 8rem;
}
.intro__logo {
  height: 2rem;
  width: auto;
}
.intro__desc {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: 0.2px;
  color: #101010;
}

/* MAIN CONTENT */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 17.5rem;
  padding-top: 5rem;
  border: solid 2px salmon;
}

section {
  width: 100%;
}

/* WORK */
.work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7rem;
}
.work__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3.5rem;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.project__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 60%;
}
.project__heading {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: 0.2px;
  color: #101010;
}
.project__desc {
  font-size: 1.125rem;
}
.project__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}

/* SERVICES */
ul {
  margin-left: 0.4rem;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3.5rem;
}
.services__heading, .services__skills, .services__item {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: 0.2px;
  color: #101010;
}
.services__desc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3.5rem;
}
.services__desc, .services__list {
  width: 100%;
}

/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3.5rem;
}
.about__content, .about__snippet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.about__heading {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 128%;
  letter-spacing: 0.2px;
  color: #101010;
}
.about__desc {
  font-size: 1.125rem;
}
.about__gallery {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.about__image {
  width: calc(33% - 0.42rem);
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */