* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #17815c;
}

@font-face {
    src: url(../fonts/BluuNext-Titling.ttf);
    font-family: bluu;
}

@font-face {
    src: url(../fonts/Montserrat-Medium.otf);
    font-family: montm;
}

@font-face {
    src: url(../fonts/Montserrat-SemiBold.otf);
    font-family: mont;
}

@font-face {
    src: url(../fonts/Montserrat-SemiBoldItalic.otf);
    font-family: monti;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    background-color: transparent;
    padding-top: 2vh;

    display: flex;
    justify-content: space-between;
}

.name {
    margin-left: 4vw;
    font-size: 2vw;
}

ul {
    font-family: mont;
    font-size: 1.7vw;

    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin: 1vw;
    margin-right: 3vw;
    margin-bottom: 5vh;

    color: #e67a69;
}

h1 {
    background-color: transparent;

    font-family: bluu;
    color: #e67a69;
    letter-spacing: 3px;
}

a{
    text-decoration: none;
    color: #e67a69;
}

li:hover {
    font-family: monti;
}

.menu {
    font-family: bluu;
    padding: 10vh 0 25vh;
    font-size: 7vw;

    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.menu-item {
    position: relative;
    padding: 0 6vw;
}

.menu-link {
    display: inline-block;
    cursor: pointer;
    position: relative;
    -webkit-text-stroke: 1.5px #e67a69;
    -webkit-text-fill-color: transparent;
    color: transparent;
    transition: opacity 0.4s;
}

.menu-link::before {
    all: initial;
    font-family: bluu;
    counter-increment: menu;
    position: absolute;
    bottom: 60%;
    left: 0;
    pointer-events: none;
}

.menu-link:hover {
    transition-duration: 0.1s;
    opacity: 0;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: wheat;
    pointer-events: none;
    mix-blend-mode: lighten;
}

.marquee-inner {
    width: fit-content;
    display: flex;
    position: relative;
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.1s;
}

.menu-link:hover ~ .marquee .marquee-inner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}

.menu-link, .marquee span {
    white-space: nowrap;
    font-size: 7vw;
    padding: 0 1vw;
    font-weight: 900;
    line-height: 1.15;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}
