@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: .5px;

    scroll-behavior: smooth;
}

:root {
    --heading-1: 32px;
    --heading-2: 30px;
    --heading-3: 24px;
    --heading-4: 14px;
    --heading-5: 12px;
    --text: 16px;

    --black: #0D0D0D;
    --grey: #909090;
    --white: #f5eacd;
    --color: #F1B806;

    --container: #f5eacd09;
}

h1 {
    font-size: var(--heading-1);
    font-weight: 400;
}

h2 {
    font-size: var(--heading-2);
    font-weight: 400;
}

h3 {
    font-size: var(--heading-3);
    font-weight: 400;
}

h4 {
    font-size: var(--heading-4);
    font-weight: 300;
    text-transform: uppercase;
}

h5 {
    font-size: var(--heading-5);
    font-weight: 300;
    text-transform: uppercase;
}

p {
    font-size: var(--text);
    font-weight: 300;
}

:hover, :after {
    transition: 0.5s ease;
}




/* PAGE */

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 160px;

    background-color: var(--black);
    margin: auto;
    padding: 64px 78px;

    max-width: 1500px;
}




/* HEADER */

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    color: var(--white);
}

.nav_container #logo {
    font-size: var(--heading-4);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--white);
}

#logo {
    transition: 0.5s ease;
}

#logo:hover {
    color: var(--color);
}

nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

nav a {
    font-size: var(--heading-5);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--white);

    border: solid 1px var(--white);
    border-radius: 30px;
    padding: 4px 12px;

    transition: 0.5s ease;
}

nav #current {
    background-color: var(--white);
    color: var(--black);
}

nav a:hover {
    background-color: var(--white);
    color: var(--black);
}




/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 160px;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.intro {
    text-align: center;

    color: var(--white);
    max-width: 750px;
}

#color {
    color: var(--color);
}


.project_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;

    width: 100%;

    animation: transformUpAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes transformUpAnimation {
    0% {
        transform: translateY(48px);
    }
    100% {}
}

.project {
    transition: 0.5s ease;
}

.project:hover {
    transform: translateY(-16px);
}

.project:hover .desc a {
    color: var(--color);
}

.project:hover .desc p {
    color: var(--color);
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;

    max-width: 100%;
}

.image {
    background-color: var(--container);

    width: 100%;
}

img {
    aspect-ratio: 16/9;
    object-fit: cover;

    height: auto;
    max-width: 100%;
}

.desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    
    color: var(--white);
}

.desc a, p {
    font-size: var(--heading-4);
    font-weight: 300;
    text-decoration: none;

    color: var(--white);
}

.desc a {
    max-width: 295px;
}

#sub {
    min-width: 148px;
}




/* FOOTER */

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 8px;

    width: 100%;
}

.footer_container a {
    transition: 0.5s ease;
}

.footer_container a:hover {
    background-color: var(--white);
    color: var(--black);
}

.left, .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.left a, .right a {
    font-size: var(--heading-5);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--white);

    border: solid 1px var(--white);
    border-radius: 30px;
    padding: 4px 12px;
}

.left h5 {
    font-size: var(--heading-5);
    font-weight: 300;
    text-transform: uppercase;

    background-color: var(--color);
    color: var(--black);

    border: solid 1px var(--color);
    border-radius: 30px;
    padding: 4px 12px;
}

#small {
    font-size: 10px;
}




/* MEDIA QUERIES */

@media screen and (min-width: 683px) and (max-width: 1025px) {
    body {
        background-color: rgb(41, 4, 39);
    }

    .top, .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
    }
}

@media screen and (max-width: 682px) {
    body {
        background-color: rgb(4, 24, 41);
        padding: 20px 20px;
        gap: 104px;
    }

    h1 {
        font-size: 28px;
    }

    .nav_container #logo {
        font-size: var(--heading-5);
    }

    #title {
        display: none;
    }

    main {
        gap: 104px;
    }

    .desc {
        justify-content: flex-start;
    }

    .desc a {
        max-width: 100%;
    }

    #year {
        display: none;
    }

    .top, .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 48px;
    }

    .left h5 {
        display: none;
    }
}