@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: .5px;

    scroll-behavior: smooth;
}

:root {
    --heading-1: 32px;
    --heading-2: 30px;
    --heading-3: 24px;
    --heading-4: 14px;
    --heading-5: 12px;
    --text: 16px;

    --black: #101010;
    --grey: #909090;
    --white: #f5eacd;
    --color: #F1B806;

    --container: #f5eacd09;
}

h1 {
    font-size: var(--heading-1);
    font-weight: 400;
}

h2 {
    font-size: var(--heading-2);
    font-weight: 400;
}

h3 {
    font-size: var(--heading-3);
    font-weight: 400;
}

h4 {
    font-size: var(--heading-4);
    font-weight: 300;
    text-transform: uppercase;
}

h5 {
    font-size: var(--heading-5);
    font-weight: 300;
    text-transform: uppercase;
}

p {
    font-size: var(--text);
    font-weight: 300;
}

:hover, :after {
    transition: 0.5s ease;
}




/* PAGE */

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 104px;

    background-color: var(--black);
    margin: auto;
    padding: 64px 78px;

    max-width: 1500px;

    animation: fadeInAnimation ease 1.8s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}




/* HEADER */

.nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    color: var(--white);
}

.nav_container #logo {
    font-size: var(--heading-4);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--white);
}

#logo {
    transition: 0.5s ease;
}

#logo:hover {
    color: var(--color);
}

#icon {
    display: none;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

nav a {
    font-size: var(--heading-5);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--white);

    border: solid 1px var(--white);
    border-radius: 30px;
    padding: 4px 12px;

    transition: 0.5s ease;
}

nav #current {
    background-color: var(--white);
    color: var(--black);
}

nav a:hover {
    background-color: var(--white);
    color: var(--black);
}




main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 104px;

    margin-bottom: 56px;
    animation: transformUpAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

@keyframes transformUpAnimation {
    0% {
        transform: translateY(48px);
    }
    100% {}
}

.project_hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

    width: 100%;
    margin-bottom: 56px;
}

.image {
    background-color: var(--container);

    width: 100%;
}

.figma {
    background-color: none;
}

img {
    object-fit: cover;

    height: 100%;
    max-width: 100%;
}

.short, .tall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.short img {
    aspect-ratio: 2.8/1;
    width: 100%;
}

.tall img {
    aspect-ratio: 16/9;
    width: 100%;
}

.title_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 56px;

    color: var(--white);
}

.title_container p{
    min-width: 220px;
}

.section_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 104px;

    width: 100%;
}

.base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 56px;

    width: 100%;
}

.base .section_title {
    min-width: 220px;

    color: var(--white);
}

.section_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 56px;
}

.section_content a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
}

.content h5 {
    color: var(--grey);
}

.content h3 {
    margin-bottom: 12px;
    color: var(--white);
}

.content p {
    color: var(--white);
}

.image_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.hide {
    display: none;
    color: var(--white);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    background-color: var(--container);
    border: solid 1.5px transparent;
    padding: 16px;

    transition: 0.5s ease;
}

.button:hover {
    border: solid 1.5px var(--color);
}

.button_desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
}

.button_desc h5 {
    color: var(--grey);
}

.button_desc h3 {
    color: var(--white);
}

.icon_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--container);
    padding: 18px 14px;

}


/* FOOTER */

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 8px;

    width: 100%;
}

.footer_container a {
    transition: 0.5s ease;
}

.footer_container a:hover {
    background-color: var(--white);
    color: var(--black);
}

.left, .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.left a, .right a {
    font-size: var(--heading-5);
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--white);

    border: solid 1px var(--white);
    border-radius: 30px;
    padding: 4px 12px;
}

.left h5 {
    font-size: var(--heading-5);
    font-weight: 300;
    text-transform: uppercase;

    background-color: var(--color);
    color: var(--black);

    border: solid 1px var(--color);
    border-radius: 30px;
    padding: 4px 12px;
}

#small {
    font-size: 10px;
}




/* MEDIA QUERIES */

@media screen and (min-width: 683px) and (max-width: 1025px) {
    .title_container p {
        display: none;
    }
    
    .short img {
        aspect-ratio: 2.2/1;
    }

    .base {
        flex-direction: column;
        gap: 24px;
    }
}

@media screen and (max-width: 682px) {
    body {
        padding: 30px 22px;
        gap: 104px;
    }

    h2 {
        font-size: var(--heading-3);
    }

    h3 {
        font-size: 20px;
    }

    .nav_container {
        align-items: center;
    }

    #logo {
        display: none;
    }
    
    #icon {
        display: block;
    }

    #icon img {
        aspect-ratio: 1/1;
        object-fit: cover;
        height: 24px;
    }

    main, .project_hero {
        margin-bottom: 0px;
    }

    .title_container p {
        display: none;
    }

    .short img {
        aspect-ratio: 2.2/1;
    }
    
    .base {
        flex-direction: column;
        gap: 24px;
    }

    .footer_container {
        flex-direction: column-reverse;
        align-items: center;
        gap: 8px;
    }

    .left h5 {
        display: none;
    }
}